<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    {{#each css}}
        <link rel="stylesheet" type="text/css" href="/css/{{this}}.css">
        {{else}}
    {{/each}}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {{#each js}}
        <script src="/js/{{this}}.js"></script>
        {{else}}
    {{/each}}
</head>
<body>
    {{#unless exclude_header}}
        {{>header}}
    {{/unless}}
    {{{body}}}
</body>
</html>